.container
  .row
    .col-sm-7.col-sm-offset-1
      .welcome-title
        %h1
          What Is Stoic Penknife?
        %p#big Stoic Penknife is an application to practice the ancient philosophical "Technologies of the Soul" (what the French philosopher Michel Foucault called <i> techniques de soi</i>) of the Greek and Roman philosophers living from roughly the 3rd century BCE through the 5th century CE. The philosophers from these ancient schools used written exercises as a "technology" to change their thoughts to align with their philosophical values. The 488 "Meditations" of Marcus Aurelius are an example of an ancient Stoic philosopher practicing these techniques. The French historian of philosophy Pierre Hadot has shown a great deal of evidence that Marcus Aurelius' writings are in fact a scrapbook of his exercise practice. 
        %h3 Who Made Stoic Penknife and Why?
        %p#big The ancient Greeks and Romans used pen and parchment to practice their exercises. That still works today just as well as it did 2,000 years ago, but a web application does have certain advantages. The app can "talk" to you by posing questions, and you can store all of your past "rehearsals" of these ancient exercises in an index to review later. It is exciting to observe how your own replies change over days, weeks and months as new philosophical perspectives take shape in your mind.
        %p#big We intend to add a mobile app extension before the end of 2017. We created Stoic Penknife first and foremost as a tool to help ourselves to practice the ancient exercises. Stoic Penknife was created by Alessio Bona and Henry van Wagenberg. Made in Berlin. 2014-17.
        %h3 What is a "Penknife"?
        %p#big Webster's Dictionary defines a penknife as "a small knife used for making and mending quill pens." This ancient pocket-tool is a fitting metaphor for this application for two reasons. This app's exercises sharpen our thinking, slice into the views and stories that we tell ourselves and perform a surgery on how we think and act. The sharpened pen is the instrument the ancient Stoics used to practice these philosophical exercises.
        %h3 What is Stoic Penknife good for?
        %p#big Stoic Penknife is good for thinking through your own difficult life situations from a Stoic philosophical perspective.
        %p#big It’s one step removed from actually having Epictetus in the room to talk it over with you. The app moves you from reading Marcus Aurelius to <i> writing</i> like Marcus Aurelius. In the words of French historian of philosophy Pierre Hadot, "Written pages are already dead. What counts is the reformulation: the act of writing or talking to oneself, right now, in the very moment when one needs to write. ... As he wrote the <i>Meditations</i>, Marcus was thus practicing Stoic spiritual exercises. He was using writing as a technique or procedure in order to influence himself, and to transform his inner discourse by meditating on the Stoic dogmas and rules of life."

        %p#big The exercises help you to enter into dialogue with yourself about your own values and how you practice them in your day-to-day life. Foucault called this "technology." Medieval writers, reading the ancient philosophers, understood them as magic. You could say that these ancient exercises enable you to cast a spell on yourself that changes how you act in the world.
        %h3 Security and Privacy Protection
        %p#big You will notice a green lock icon next to Stoic Penknife in the browser window. We use SSL Encryption to protect your words from being intercepted and read by an external party.
    .col-sm-4
      %br
      %br
      = image_tag "stoic_penknife_logo_ink.png", class: "img-responsive"
      %br
      %br
      .panel.panel-default.stoic-blue
        .panel-body
          .caption
            %p "Medicine heals the sickness of bodies; but wisdom rids the soul of its sufferings." 
            %p --Democritus

