%ul.nav.nav-pills
  %li
    %a{:href => "index"} Stoic Compass
  %li.active
    %a{:href => "about"} About
  %li
    %a{:href => "contact"} Contact

%center
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .page-header
          %h1
            Marcus Aurelius' Compass
          %big An Application to Guide Stoic Philosophical Practice
        %br
          %p This web application - to which we intend to add a mobile app in the next 6 months - is to help us, our friends, and others we know to live out Stoic philosophical practice. It was created by Alessio Bona and Henry van Wagenberg. Made in Berlin. 2014-15.

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
