%center
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .page-header
          %h1
            Stoic Penknife
          %big An Application to Practice Ancient Philosophical Technologies of the Soul (Technique de Soi)
        %br
          %p This web application - to which we intend to add a mobile app sometine before the end of 2017 - is to help us, our friends, and others we know to practice the ancient Stoic philosophical exercises. It was created by Alessio Bona and Henry van Wagenberg. Made in Berlin. 2014-17.
