%center
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .page-header
          %h1
            What Is Stoic Penknife?
          %big Stoic Penknife is an application to practice the ancient philosophical "Technologies of the Soul" (what the French philosopher Michel Foucault called techniques de soi) of the Greek and Roman philosophers living from roughly the 3rd century BCE through the 5th century CE. The philosophers from these ancient schools used written exercises as "Technologies of the Soul" to examine their thoughts and actions through the lens of their principles. This self-reflection was an important step toward living in integrity with the principles of their philosophical school. The "Meditations" of Marcus Aurelius are an example of a philosopher from the ancient Stoic school practicing these written exercises. Marcus Aurelius used written exercises to alter his perceptions of his experiences, his passions, the people around him, and even himself. 
          %h3 Who made Stoic Penknife and why?
          %big The ancient Greeks and Romans used pen and parchment to practice their exercises. That still works today just as well as it did 2,000 years ago. Nevertheless a web application has certain advantages. The app can "talk" to you by posing questions and you can store all your past "rehearsals" of these ancient exercises in an index to review later. It is exciting to see how your responses to exercises change over days, weeks and months as your perspective transforms to reflect the philosophical principles you are practicing.
          %big We intend to add a mobile app extension before the end of 2017. Stoi Penknife is first and foremost a tool to help us, our friends, and others we know to practice the ancient Stoic philosophical exercises. It was created by Alessio Bona and Henry van Wagenberg. Made in Berlin. 2014-17.
          %h3 What does the name "Stoic Penknife" mean?
          %big Webster's Dictionary defines a penknife as "a small knife used for making and mending quill pens." This ancient tool is a fitting metaphor for this application for two reasons. This application helps us to sharpen our thinking, to slice into the views and stories that we tell ourselves and perform a surgery on how we think and act. The sharpened pen is the instrument we use to practice this mental exercise - by writing to ourselves.
          %h3 What is Stoic Penknife good for?
          %big Stoic Penknife is good for thinking through our own difficult life situations from a Stoic philosophical perspective.
          %big It’s a step below actually having Epictetus in the room to talk it over with you. This app enables you to move a step beyond just reading Marcus Aurelius: it enables you to write the same type of Stoic poetry that Marcus Aurelius writes, and in so doing, to cast a spell on himself, and practice Stoic exercises like he did.
          %big The app’s exercises help you to enter into dialogue with yourself about your own values and how you practice them in your day-to-day life. Foucault called this "technology." Medieval writers, reading the ancients, understood them as magic. These ancient exercises enable you to cast a spell on yourself and change how you act in the world.
