%center
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .page-header
          %h1
            What Is Stoic Penknife?
          %big Stoic Penknife is an application to practice the ancient philosophical "Technologies of the Soul" (what the French philosopher Michel Foucault calls techniques de soi) of Greek and Roman philosophers from roughly the 3rd century BCE through the 5th century CE. The philosophers from these ancient schools used written exercises to examine their thoughts and actions through the lens of their principles and ideas. This examination and reflection was an important step to think and living in integrity with the principles of their philosophical school. The "Meditations" of Marcus Aurelius are an example of an ancient Stoic philosopher practicing these written exercises by thinking through his own experiences and writing to himself to understand them philosophically.
        %br
          %h4 Who made Stoic Penknife and why?
          %p The ancient Greeks and Romans used pen and parchment to practice their exercises. That still works today just as well as it did 2,000 years ago. Nevertheless a web application has certain advantages. The app can "talk" to you by posing questions and you can store all your past "rehearsals" of these ancient exercises in an index to review later. It is exciting to see how your responses to exercises change over days, weeks and months as your perspective transforms to reflect the philosophical principles you adhere to.
          %p We intend to add a mobile app extension before the end of 2017. Stoi Penknife is first and foremost a tool to help us, our friends, and others we know to practice the ancient Stoic philosophical exercises. It was created by Alessio Bona and Henry van Wagenberg. Made in Berlin. 2014-17.
        %br
          %h4 What does the name "Stoic Penknife" mean?
          %p Webster's Dictionary defines a penknife as "a small knife used for making and mending quill pens." This ancient tool is a fitting metaphor for this application for two reasons. This application helps us to sharpen our thinking, to slice into the views and stories that we tell ourselves and perform a surgery on how we think and act. The sharpened pen is the instrument we use to practice this mental exercise - by writing to ourselves.

