.container
  %br
  %br
  .row
    .col-sm-5.col-sm-offset-2
      .page-header
      %center
        %h1
          Stoic Penknife
        %big An Application to Practice Ancient Stoic Philosophical Technologies of the Soul
      %br
      %br
        %p
          Feel free to contact us at
          %a{:href => "mailto:Henry@stoicpenknife.com?Subject=Stoic%20Penknife", :target => "_top"} Henry@stoicpenknife.com.
        %p
          That email will go directly to me, Henry van Wagenberg, one of the creators of Stoic Penknife. Between 2013 and 2018 I was the Austria, Switzerland, Germany regional director of the
          %a{:href => "http://www.newstoa.com/"} "New Stoa"
          , an organization dedicated to re-awakening Stoic philosophy and lived Stoic philosophical practice in the present day.
        %br
          Have you written an exercise based on Epictetus, Marcus Aurelius, Seneca or other Stoic or ancient philosopher that you would like to share with others? Have you found inspirational words in an ancient text that you would like to transform into a Stoic Penknife exercise? Are you experienced at using CBT (Cognitive Behavioral Therapy) and have ideas for editing existing exercises -- or adding new ones? Would you like to "fork" the code of Stoic Penknife and create your own Stoic exercise practice application? Would you like to share with us your experiences using Stoic Penknife to think about your life? Contact us! We would love to hear from you and are open to changes and adding your exercise to the list shared with all users.
        %br
          Stoic Penknife is a free, open source application. The code is hosted on GitHub,
          %a{:href => "http://www.github.com/Henryvw/stoic_penknife"} https://www.github.com/Henryvw/stoic_penknife.
        %br
          I live in Berlin, Germany.
    .col-sm-4
      %br
      %br
      %br
      %br
      = image_tag "henry.jpg", class: "img-rounded img-responsive"
