%center
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .page-header
          %h1
            Stoic Penknife
          %big An Application to Practice Ancient Stoic Philosophical Technologies of the Soul
        %br
          %p 
            Feel free to contact us at 
            %a{:href => "mailto:henry.stoicpenknife@gmail.com?Subject=Stoic%20Penknife", :target => "_top"} henry.stoicpenknife@gmail.com
          %p That email will go directly to me, Henry van Wagenberg. We are actively looking for feedback about our project, from users who would like to test it out. I live in Berlin, Germany.
