%center
  .container
    %br
    %br
    .row
      .col-sm-5.col-sm-offset-2 
        .page-header
          %h1
            Stoic Penknife
          %big An Application to Practice Ancient Stoic Philosophical Technologies of the Soul
        %br
          %p 
            Feel free to contact us at 
            %a{:href => "mailto:henry.stoicpenknife@gmail.com?Subject=Stoic%20Penknife", :target => "_top"} henry.stoicpenknife@gmail.com
          %p That email will go directly to me, Henry van Wagenberg, one of the creators of Stoic Penknife. If you are interested in helping to work with the application, think through exercises, hack on new features together, or just tell me your own experiences using Stoic Penknife to think about your life in new and different ways - please write to me. Right now Stoic Penknife is an open source application available on GitHub. I live in Berlin, Germany.
      .col-sm-3
        = image_tag "henry.jpg", class: "img-rounded img-responsive"

