%center
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .page-header
          %h1
            Marcus Aurelius' Compass
          %big An Application to Guide Stoic Philosophical Practice
        %br
          %p Feel free to contact us at henryvw@gmail.com. Henry van Wagenberg. Or Alessio Bona at {alessio@email.com, if you want to make it public}.

          We are actively looking for feedback about our project, from users who would like to test it out.

          We live in Berlin, Germany. If you are interested in meeting us in person for coffee, we'd be happy to meet you.
