.container
  .row
    .col-sm-8.col-sm-offset-1
      .welcome-title
        %h1 How Does Stoic Penknife Work?
        %p#big Practice Stoic philosophical exercises just like Marcus Aurelius, Seneca and Epictetus did. Think through your life from a new, Stoic perspective.
        %br
        = image_tag "how_it_works.png", class: "img-responsive"
        %br
        %br
        .col-sm-7
          %br
          %center
            = image_tag "stoic_penknife_exercise.png", class: "img-responsive", style: "padding-right: -400px"
        .col-sm-3
          %br
          = button_to "Marcus Aurelius' Sadness Converter", "/exercises/52", method: :get, class: "btn btn-stoic-white", style: "background-image:url(stoic_penknife_exercise.png)"
          %br
