.container
  .row
    .col-sm-8.col-sm-offset-1
      %h1 How Does Stoic Penknife Work?
      %p Seneca advocates simple exercise for the body on occasion, but writes "exercise the soul both day and night" (Letter to Lucilius XV). Stoic Penknife is an application to practice the ancient written "soul" exercises that Greek and Roman philosophers like Seneca, Epictetus and Marcus Aurelius once wrote.
      %p The French historian of philosophy Pierre Hadot explains how these exercises work. "The Stoic philosophical life consists essentially in mastering one's inner discourse. Everything in an individual's life depends on how he represents things to himself -- in other words, how he tells them to himself in inner dialogue... Written pages are already dead, and the <i>Meditations</i> [of Marcus Aurelius] were not made to be reread. What counts is the reformulation: the act of writing or talking to oneself, right now, in the very moment when one needs to write... The <i>Meditations</i> are not spontaneous effusions but exercises carried out in accordance with a program which Marcus had received from the Stoic tradition, and in particular from Epictetus. Marcus was working with pre-existing material and painting on a canvas given him by someone else." (<i>The Inner Citadel</i>, Chapter 1, "The Meditations as Spiritual Exercises"). Hadot later argues that this "program" and "pre-existing material" that served as the template or "canvas" for Marcus's written exercise practice -- perhaps worksheets, formulations, or questions -- is largely lost to us. 
      %br
      = image_tag "how_it_works.jpg", class: "img-fluid"
      %br
      %br
      .col-sm-7
        %br
        %center
          = image_tag "stoic_penknife_exercise.jpg", class: "img-fluid", style: "padding-right: -400px"
      .col-sm-5
        %br
        = button_to "Marcus Aurelius' Sadness Converter", "/exercises/52", method: :get, class: "btn btn-danger", style: "background-image:url(stoic_penknife_exercise.png)"
        %br
        %br
      %p For Stoic Penknife, I have done my best to reconstruct the kind of exercise questions and instructions that induced Stoic writings like Marcus Aurelius' <i>Meditations</i>. Hints of its contents can be found, I believe, in the words of Epictetus and Seneca among others. In the hand-drawn chart above, you will find an example from an exercise that Marcus Aurelius practices to reconsider his sadness. This exercise, like all the exercises in Stoic Penknife, consists of answering questions that engage you in a reasoned argument with yourself, usually about your life and your own judgments. The first two boxes reflect my attempt to reconstruct the kind of questions that might have triggered Marcus Aurelius' formulation about sadness, plus a little guess, based on his history, as to the feelings and experiences that Marcus Aurelius was using this exercise practice to work through. The third box is a direct quotation from him, and the outcome of his practice. How might this ancient exercise-practice elicit a change in your own thinking? (You can practice this particular exercise yourself - in Stoic Penknife it's called "Marcus Aurelius' Sadness Converter.")
      %p The great American scholar of the Hellenistic schools of philosophy, Martha Nussbaum, explains the meaning of these exercises as a form of ancient philosophical "therapy" of the human passions. Reasoned argument is the tool of the ancient Greek "philosopher-therapist". She writes, "To use philosophical argument to modify the passions, the philosopher does not have to turn away from her commitment to reasoning and careful argument, for the passions are made up out of beliefs and respond to arguments... arguments must dig deep in order, as Epicurus puts it, to 'become powerful' in the soul" <i>The Therapy of Desire</i>, Chapter 1, Therapeutic Arguments). Stoic Penknife's exercises work by posing these ancient questions to engage us in "deep" argument with ourselves.
