.container
  .row
    .col-sm-8.col-sm-offset-1
      .welcome-title
        %h1 How Does Stoic Penknife Work?
        %p#big Seneca advocates simple exercise for the body on occasion, but writes "exercise the soul both day and night--for it is nourished by moderate labor" (Letter to Lucilius XV). Stoic Penknife is an application to practice the ancient written "soul" exercises that Greek and Roman philosophers like Seneca, Epictetus and Marcus Aurelius once used. Below is an example from an exercise that Marcus Aurelius practices to reconsider sadness. This exercise, like all the exercises in Stoic Penknife, consists of answering questions that engage you in a reasoned argument with yourself, usually about your life and your own judgments. The first two answers reflect my guesses of what Marcus Aurelius was thinking, and the third is what he actually wrote. How might this ancient exercise elicit a change in your own thinking? (You can practice the exercise yourself - in Stoic Penknife it's called "Marcus Aurelius' Sadness Converter.")
        %br
        = image_tag "how_it_works.jpg", class: "img-responsive"
        %br
        %br
        .col-sm-7
          %br
          %center
            = image_tag "stoic_penknife_exercise.jpg", class: "img-responsive", style: "padding-right: -400px"
        .col-sm-5
          %br
          = button_to "Marcus Aurelius' Sadness Converter", "/exercises/52", method: :get, class: "btn btn-stoic-white", style: "background-image:url(stoic_penknife_exercise.png)"
          %br
          %br
      %p#big The great American scholar of the Hellenistic schools of philosophy, Martha Nussbaum, explains the meaning of these exercises as a form of ancient philosophical "therapy" of the human passions. Reasoned argument is the tool of the ancient Greek "philosopher-therapist". She writes, "To use philosophical argument to modify the passions, the philosopher does not have to turn away from her commitment to reasoning and careful argument, for the passions are made up out of beliefs and respond to arguments... arguments must dig deep in order, as Epicurus puts it, to 'become powerful' in the soul" <i>The Therapy of Desire</i>, Chapter 1, Therapeutic Arguments). Stoic Penknife's exercises work by posing these ancient questions to engage us in "deep" argument.
