.bg
  .container-fluid
    .row
      .col
        .row.justify-content-start.pt-3.pr-2
          .jumbotron.mr-3.ml-5.pt-5.pb-5.bg-warning.text-white
            %h1.display-5
              Change your
              %b.text-danger> &nbsp;thoughts
              , change your
              %b.text-danger life
        .row.justify-content-start.mt-n3
          %h1.ml-5
            %a.btn.btn-lg.btn-block.btn-primary{href: exercises_path} Practice a Stoic Think-Exercise
        .row.justify-content-start.mr-5.ml-5.pt-5.pb-5.mt-n4
          .ml-n3.mt-n3
            %script{:src => "https://liberapay.com/Henryvw/widgets/receiving.js"}

      .col
        .row.justify-content-end.pt-3.pb-4.mr-2
          .w-75{style: "max-width: 38%"}
            = image_tag "stoic_penknife_logo_new_clay.png", class: "img-fluid"
        .row.justify-content-end.pb-5.mr-2
          .card.bg-danger
            .card-body.pt-3.pb-3.mt-n2.mb-n2.text-white
              Practice the
              %b.text-warning ancient
              philosophical roots of
              %b.text-warning modern
              %a{href: "https://philarchive.org/archive/DIATPF"} Cognitive Behavioral Therapy (CBT)
          .card.mt-3
            .card-body.pt-3.pb-3.mt-n2.mb-n2.bg-danger.text-white
              Experience the App for Ancient Greek & Roman Philosophy's
              %b.text-warning 'Technologies of the Soul'.
              Practice exercises from
              %b.text-warning Seneca,
              %b.text-warning Epictetus,
              and
              %b.text-warning Marcus Aurelius
              \-- and create your own
    .row.pb-5
    .row.pb-5
    .row.pb-5
    .row.pb-5
    .row.pb-5

