%h1
  Marcus Aurelius' Compass
%h4
  An Application to Guide Stoic Philosophical Practice
%h3
  Stoic Doctrines
/ = link_to "Stoic Doctrines", doctrines_path
%h3
  Stoic Exercises
/ = link_to "Stoic Exercises", exercises_path
%h3
  = link_to "Marcus Aurelius Meditations", meditations_path


%br
%br
%br