
%center
.container
  .row
    .col-md-8
      #accordion.panel-group
        .panel
          .panel-heading.stoic-brown
            %h4.panel-title
              Discipline of Action
          .panel-body.stoic-dark-text
            Here's the deal about the Discipline of Action.
