%center
.container
  .row
    .col-md-8
      %h4
        Theory of Representation, Judgement and Assent
      %p This short resumée of the late stoic theory on representation, judgement and assent, give the basic knowledges to understand the Discipline of Assent.
      %b Representation
      %p The stoics understood sensorial perception as a corporal process common to lot of animals, by which the image of an external object is transmitted to the soul / to the mind.
      %p This image, called in greek "phantasia" (like "phantasy"), is produced in the soul and more specifically in the "directive principle": in greek the "eghemonikón" (like "egemonic" - something ruling on everything else).
      This "phantasia" ...
      %ol
        %li it takes the place of the represented object and pretend to be the object itself. We look at a table and make a picture of it, when we think about this picture, we will mean that we're thinking about the table, not about the picture of the table. If it can seem like a subtle and pedantic difference, it is instead quite important and the exact nature of this process will stay in the middle of millennial philosophical discussions.
        %li it produce a perturbation in the soul / in the mind. Our mind reacts to representation depending on the relation between their represented contents and other structures of the mind itself. How different features of a representation can perturb the mind, will be discussed in few lines.
      %b Judgement
      %p If the representation is formed depending on hard to change structure of the mind, which lay out of control of the conscious mind, judgements are sentences or bundles of sentences enunciating the nature, quality and value of the represented object.
      %p For example if I see a cake, the representation of the cake will be produced in my mind and I have no power on it: I can't choose to imagine it or not. The cake will appear in my mind with certain features and among them the actual existence of the cake with its position in space: in front of me.
      %p This representation take the place of the object and already perturbates my mind, i.e. elicits mental processes of various kind.
      Some mind processes, more active and changeable as the mere perception, will actually "say" things about this cake, for example:
      %ul
        %li it will taste good (info coming from past memories)
        %li it is not mine
        %li it is bad for my body figure
        %li I'll feel good eating it
        %li I'll feel bad after eating it
        %li etc.
      This are judgements regarding the cake. They came in large part spontaneously and depend on our previous experiences of representation, judgement and reflection.
      %p That means NOT that judgements are under our control, the opposite is true: our judgements depend on the structure and actual state of our mind. That means: it depends on a story of development, interaction, socialization, pain and pleasure, joy and sadness, punishments and praise, etc.
      %b Assent
      %p In the end we come to what is really in our power: the assent to representations and judgements.
      %p If before reacting to our first representations and judgements we find the time to look at them one more time, there we find a narrow but decisive space for freedom: the moment of assent.
      %p Every representation or judgement, which became conscious, can be scrutinized again and be assented to or rejected:
      %ul
        %li assent - "ok, this representation is adequate" or "I really agree on this judgement!"
        %li rejection - "this representation is an illusion" or "This judgement is in contrast with my deepest principles and believes, I don't agree with it!"
      Aulus Gellius (c. 125 – after 180 AD) tells us (in his Noctes Atticae) about this bundle of passive and active moments, describing the reaction of a philosopher to a thunderclap. Here my personal paraphrases:
      %p The things "throw themselves" on us to be perceived, "stamp" our mind and produce an emotion in the soul. This process does not depend on our will.
      %p The assent to this perceptions and to the judgements which follow as reaction, this assent instead is a free act of the human mind.
      %p The wise man jumps and turns pale as a thunderclap break the air and hits his ears. In this regard he acts exactly as any other human being, BUT he does not assent to the judgements which follow: "this thing is dreadful and dangerous" or "the gods are upset with me". The fool instead give his assent to the first representations and judgements that come to mind.
      %p Resuming these elements one more time:
      %ol
        %li Representation (phantasia): the stamp of the thunderclap in our mind (perception) and effect of it ("jump" because of instinctive reaction to explosive and loud sound)
        %li Judgement (hypolépsis): an inner discourse like enunciating feature of the represented object ("it is dangerous")
        %li Assent (synkatathesis): the acceptance of this representations and judgements as adequate or the dismissal of them as false or nonsensical
      %b Adequate Representation
      %p Instead of starting a complex theoretical discussion on the possibilities and forms of knowledge [note to deepen this subject] let's read two passages about adequate representations respectively from Epictetus and Marcus Aurelius:
      %ul
        %li "For as Socrates said, "we ought not to live a life without examination," so we ought not to accept an appearance without examination, but we should say, "Wait, let me see what you are and whence you come"; like the watch at night, "Show me the pass." "Have you the signal from nature which the appearance that may be accepted ought to have?"."
        Epictetus, Discourses: III, 12, 15
        %li "Say nothing more to thyself than what the first appearances report. Suppose that it has been reported to thee that a certain person speaks ill of thee. This has been reported; but that thou hast been injured, that has not been reported. I see that my child is sick. I do see; but that he is in danger, I do not see. Thus then always abide by the first appearances, and add nothing thyself from within, and then nothing happens to thee. Or rather add something, like a man who knows everything that happens in the world."
        MA, VIII, 49
      From these two quotes it is evident what makes a representation "not-adequate": certain additions and deformations, which do not correspond to the nature of the observed object.
      %p An adequate representation does not add interpretation to the pure perception of the object, while a not adequate one substitute to the pure perception an image of something different.
      %p For example: If I see a guy with a hat, striped shirt, disfigured face and a glove armed with razors... I have three main options:
      %ol
        %li Assume I've seen this guy and stop my representation there;
        %li Assume I've seen Freddy Kruger;
        %li Assume it's a camouflage and that it must be Carnival or Halloween.
      Which one of this representations would be adequate? A "totally adequate" representation is impossible for a human being, so we have to ask which one is "more adequate", and the answer is: the first one!
      %p To guess that it's Freddy Kruger or a camouflage implies some additional consideration and inferences, that means: it does not belong to the representation of what we have seen.
      %p For sure: we can't and we don't want always have to make this distinction, because it would enormously complicate our reasoning and just make our everyday life impossible!
      %p Take the example from Marcus Aurelius to understand when and how this distinction can actually help us:
      %p "... Suppose that it has been reported to thee that a certain person speaks ill of thee. This has been reported; but that thou hast been injured, that has not been reported. ..."
      %p In this case to stop the flow of thoughts and to come back to the first representation can really change the course of the further developments.
      %p I have inconsciously translated the fact that someone said that I'm a moron... with the fact that "I have been damaged" or even that "that person damaged me" or that "she did something wrong to me".
      %p Here to "stop" the representation allows us to notice that it is saying "to much" and than ask which are the "first data" and which features have been added.
      %p In the example the data are: a person said that I am a moron.
      %p To jump to the conclusion of have being damaged, I should first analyse which relation occurs between the utterance of this opinion and something belonging to be having been broken or destroyed.
      %p To assume that she did "something wrong" would imply a moral judgement about right and wrong, that means I should find some rules for it. Etcetera...
      %p
      %b Adequate Judgement
      %p This informations, which we said a representation should not have, can be parts of a judgement, i.e. of a sentence enunciating something about one or more objects and their relationships.
      %p I can for example affirm that Maria damaged me by affirming that I am a moron in front of Sabrina, because it reduces the chances I had to seduce her. This judgement implies other perceptions and judgements and can therefore be defined as adequate or not only on the basis of a larger analysis of my beliefs and other judgements.
      %p To take care of my own beliefs and judgements is not easy work, because it requires to track down their genesis back to the origins or build new chains of judgements basing on "general principles" I have recognised or established.
      %p To fulfil this difficult task constitute the main function of the Discipline of Assent: analysis and selection of beliefs, judgements and dogmas (general principles).
      %p Epictetus means that there are some "pre-notions", common to every human being and necessarily true for everyone, which are the basis of every further judgement. To apply this pre-notions (for example, that the good is to prefer) correctly to the actual judgement of a specific situation or object is instead very different from human to human and it is the task of philosophical education to make one capable to apply them right.
