%br
%ul.nav.nav-pills
  %li
    %a{:href => "index"} Stoic Compass
  %li
    %a{:href => "about"} About
  %li
    %a{:href => "contact"} Contact
  %li
    %a{:href => "doctrines_index"} Doctrines
  %li.active
    %a{:href => "doctrines_desire"} Doctrines - Discipline of Desire
  %li
    %a{:href => "meditations"} Exercises
  %li
    %a{:href => "meditations"} Meditations

%br
%br

%center
.container
  .row
    .col-md-8
      #accordion.panel-group
        .panel.panel-danger
          .panel-heading
            %h4.panel-title
              Discipline of Desire
          .panel-body
            Here's the deal about the Discipline of Desire.