.container
  .row
    .col-md-8
      #accordion.panel-group
        .panel.panel-danger
          .panel-heading
            %h4.panel-title
              Discipline of Desire
          .panel-body
            Here's the deal about the Discipline of Desire.
