%center

.container
  .row
    .col-md-8
      #accordion.panel-group
        .panel.panel-danger
          .panel-heading
            %h4.panel-title
              An Overview and Introduction to the Stoic Disciplines
          .panel-body
            One way of seeing it, is that the three Disciplines structure the relationship of human Reason with three objects of our experience and reflection:
            %ol
              %li the universal Nature,
              %li the human Reason itself,
              %li my action in the world.
            Let's imagine a human Reason appearing all of the sudden in the middle of existence, what are the most basic questions it would ask?
            %ol
              %li "what the heck is that?"
              The focus is on the "outside world" and the goal is to understand how it works and from which rules is governed.
              %li "who is thinking and how is that happening?"
              The focus is on the thinking subject now, trying to understand its own rules and way of functioning.
              %li "what should I do?"
              It's time to ask ethical questions: What is worth to be pursued? What am I part of? What can I care for? That means to bring our attention to the other individuals out there and ask ourselves what kind of relationship we have with them.
            Marcus Aurelius VIII, 27 "There are three relations between thee and other things: the one to the body which surrounds thee; the second to the divine cause from which all things come to all; and the third to those who live with thee. "
            %p Also philosophy as intellectual inquiry was divided in three sections in late stoic schools: physic, logic and ethics. Even if philosophy is a unitary practice, the ancient stoics divided its questions under three mains questions, corresponding to the three disciplines:
            %ul
              %li Physics: questions about the universal Nature and its laws
              %li Logic: questions about the human Reason and its laws
              %li Ethics: questions about the right attitude towards others
            The differentiation of philosophical practice in three Disciplines helps orientating and structuring the exercises, BUT we have to understand it as a analytical differentiation and not a substantial one. If we try to track down a single Discipline, we'll notice that they are totally interrelated, to the point that practising a Discipline implies volens nolens the practising the other two also.
            %p We will maintain this differentiation because it enable us to describe the inner paths of stoic philosophical practice.
            %b Following: schematic resumées of the three Disciplines
            %p It will not be totally clear and understandable at the beginning, just read it through asking yourself: what could that mean? Formulate hypothesis, ready to change them as far as you start reading the chapters on the single disciplines.
            %p The capital letter before the name of the Discipline is the one we'll use to tag the disciplines in the analysis of Marcus Aurelius Meditations, so: remember that! ;)
            %b [A] Discipline of Assent
            %ul
              %li Correspond to the "logic" in the threefold partition of philosophy
              %li The object of this discipline is the assent to judgements and representations
              %li It regards the things, which are exclusively in our own power
              %li It regard the relationship of the Reason with: itself
              %li Consists in: selective assent to judgements and representations. It implies review, inspection, examination, and eventually revisions of our beliefs and judgements.
              %li Attitude: free in own domain, joy in the inner Citadel
              %li Effect: freed us from false believes, contradictory judgements, restores and develop the power of the mind, protect the boundaries of the inner Citadel and offer protection and recover in troubled times
              %li Closest related dogmas: freedom of assent, distinction between goods and indifferents
              %li Relation to the other two disciplines: every discipline founds on judgements and representations, therefore every other discipline relays on the discipline of assent for the selection of its basic elements
            %b [D] Discipline of Desire
            %ul
              %li Correspond to "physics" in the threefold partition of philosophy
              %li The object of this discipline the universal Nature and the indifferents
              %li It regards the things, which are not in our own power
              %li It regards the relationship of the Reason with: the eternal and relentless flow of the Cosmos
              %li Consists in:
              %ol
                %li situate every happening it the perspective of the whole Cosmos,
                %li refuse to desire that anything happens different from how the universal Nature has ordered,
                %li assent with joy to the laws of universal Nature
              %li Attitude: "familiarity" [note] with nature, recognition of self as part of the universal nature, thankfulness for the existence of the Cosmos
              %li Effect: freed the stoic from the delusional desire which contradict the necessary reality and reconnect her intellect with the cosmos (the divine intellect, or Zeus)
              %li Closest related dogmas: Providence, rationality of the universe, difference between the thing in our power and those not in our power, principle of sufficient reason, determinism, monism
              %li Relation to the other two disciplines: it helps the discipline of assent to build and defend the boundaries to the "inner Citadel". It equips the discipline of Impulse with appropriate models of the outer world and permits a more precise formulation of the "Clause of Reserve".
            %b [I] Discipline of Impulse to Action
            %ul
              %li Correspond to "ethics" in the threefold partition of philosophy
              %li The object of this discipline is the human Nature and how it relates to others [in it: il modo in cui la nostra causalità si inserisce nella causalità del mondo]
              %li It regards the things we have to take care of or commit to
              %li It regards the relationship of the Reason with: the nature of the human being and the communities it is intrinsically part of
              %li Consists in: 1. act "with Reserve", for the good of the Whole, never without a good reason/goal
              %li Attitude: the will to act following our own nature
              %li Effect: equip the stoic with criteria to distinguish and choose between the indifferents and prepare her to select the indifferents without losing her calm and freedom
              %li Closest related dogmas: the natures and polis of the human being; the community of rational being;
              %li Relation to the other two disciplines: it helps by the choice of adequate activities, tasks and duties and the determination of the resources to devote them. Between them is also to place Philosophy and the practice of philosophical exercises, therefore is this discipline determinant for the actual place of Philosophy in our life.
