%br
%ul.nav.nav-pills
  %li
    %a{:href => "index"} Stoic Compass
  %li
    %a{:href => "about"} About
  %li
    %a{:href => "contact"} Contact
  %li
    %a{:href => "doctrines_index"} Doctrines
  %li.active
    %a{:href => "doctrines_introduction"} Intro to Disciplines
  %li
    %a{:href => "meditations"} Exercises
  %li
    %a{:href => "meditations"} Meditations


%center
.container
  .row
    .col-md-8
      #accordion.panel-group
        .panel.panel-danger
          .panel-heading
            %h4.panel-title
              Introduction to Stoic Disciplines
          .panel-body
            Here's the deal about The Stoic Disciplines in general.