%center

.container
  .row
    .col-md-8
      #accordion.panel-group
        .panel.panel-danger
          .panel-heading
            %h4.panel-title
              An Overview and Introduction to the Stoic Dogmas
          .panel-body
