
%center

.container
  .row
    .col-md-8
      %h2.page-header
        .doctrine_title
          The Stoic Doctrine
          %br
        %small An explanation of the doctrines and dogmas behind ancient Stoic philosophy in the Greek and Roman period.
        %a.tab_over_header{"data-parent" => "#accordion0", "data-toggle" => "collapse", href: "#collapseZero", "class" => "label label-default", "id" => "light"}
      #collapseZero.panel-collapse
        %p
          %b Question every opinion. Let only your reason be the judge of your truths.
        %p The Introduction to Stoic Philosophy provides an overview of the world in which Stoic philosophy took shape, and offers a survey of the nature of its ideas.
        %p The Disciplines explain the three elements of thought to Stoic philosophical practice. The Three Disciplines also inform the Stoic Penknife Exercises. The Disciplines are the secret which gives dynamism and rhythm to Stoic writings such as Marcus Aurelius' Meditations. In this part we'll not only learn their internal structure but also start using them to interpret Marcus Aurelius and to practice our own exercises and write our own quotations.

.container
  .row
    .col-md-8
      #accordion.accordion
        #accordion.panel-group
          .panel.panel-danger
            .panel-heading
              %h4.panel-title
                %a.doctrine_button{href: "doctrines_introduction", "class" => "label"}
                  Introduction to Stoic Philosophy
          = render '/doctrines/panels/disciplines_panel'
