%ul.nav.nav-pills
  %li
    %a{:href => "index"} Stoic Compass
  %li
    %a{:href => "about"} About
  %li
    %a{:href => "contact"} Contact
  %li.active
    %a{:href => "doctrines_index"} Doctrines
  %li
    %a{:href => "meditations"} Exercises
  %li
    %a{:href => "meditations"} Meditations

= button_to "The Stoic Doctrines", doctrines_index_path, method: :get, class: "btn btn-danger btn-large"

%a.btn.btn-primary{href: "welcome_contact", :type => "button"}
  Introduction to Stoic Philosophy

%center
.container
  .row
    .col-md-8
      %h3 The Stoic Doctrines
      %h5 An explanation of the doctrines and dogmas behind ancient Stoic philosophy in the Greek and Roman period.
      #accordion1.accordion
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.btn.btn-default{href: "doctrines_introduction", :type => "button"}
                  Introduction to Stoic Philosophy
                %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseOne", "class" => "label"}
                  Abstract
            #collapseOne.panel-collapse.collapse
              .panel-body
                Anim pariatur cliche
                %span{"data-content" => "And here's some amazing content. It's very engaging. Right?", "data-toggle" => "popover", title: "Popover title", type: "button"} reprehenderit
                reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseTwo", "class" => "button"}
                  The Stoic Disciplines
            #collapseTwo.panel-collapse.collapse
              .panel-body
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              .accordion-inner
                #accordion2.accordion
                  #accordion.panel-group
                    .panel.panel-default
                      .panel-heading
                        %h4.panel-title
                          .button
                          %a{href: "doctrines_disciplines_intro"}
                            Overview
                          %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerOne"}
                            Abstract
                      #collapseInnerOne.panel-collapse.collapse
                        .panel-body
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-danger
                      .panel-heading
                        %h4.panel-title
                          .button
                          %a{href: "doctrines_assent"}
                            Discipline of Assent
                          %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerTwo"}
                            Abstract
                      #collapseInnerTwo.panel-collapse.collapse
                        .panel-body
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-danger
                      .panel-heading
                        %h4.panel-title
                          .button
                          %a{href: "doctrines_desire"}
                            Discipline of Desire
                          %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerThree"}
                            Abstract
                      #collapseInnerThree.panel-collapse.collapse
                        .panel-body
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-danger
                      .panel-heading
                        %h4.panel-title
                          .button
                          %a{href: "doctrines_action"}
                            Discipline of Action
                          %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerFour"}
                            Abstract
                      #collapseInnerFour.panel-collapse.collapse
                        .panel-body
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .panel.panel-danger
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseThree", "class" => "button"}
                  The Dogmas
            #collapseThree.panel-collapse.collapse
              .panel-body
                Anim pariatur cliche
                %span{"data-content" => "And here's some amazing content. It's very engaging. Right?", "data-toggle" => "popover", title: "Popover title", type: "button"} reprehenderit
                reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

