%br
%ul.nav.nav-pills
  %li
    %a{:href => "index"} Stoic Compass
  %li
    %a{:href => "about"} About
  %li
    %a{:href => "contact"} Contact
  %li.active
    %a{:href => "doctrines_index"} Doctrines
  %li
    %a{:href => "meditations"} Exercises
  %li
    %a{:href => "meditations"} Meditations


%center
.container
  .row
    .col-md-8
      %h2.page-header
        .doctrine_title
          The Stoic Doctrines
          %br
        %small An explanation of the doctrines and dogmas behind ancient Stoic philosophy in the Greek and Roman period.
      %h4{:align => "right"}
      #accordion1.accordion
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button{href: "doctrines_introduction", "class" => "label"}
                  Introduction to Stoic Philosophy
                %a.tab_over{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseOne", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseOne.panel-collapse.collapse
              .panel-body
                Anim pariatur cliche
                %span{"data-content" => "And here's some amazing content. It's very engaging. Right?", "data-toggle" => "popover", title: "Popover title", type: "button"} reprehenderit
                reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseTwo", "class" => "label"}
                  The Disciplines
            #collapseTwo.panel-collapse.collapse
              .panel-body
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              .accordion-inner
                #accordion2.accordion
                  #accordion.panel-group
                    .panel.panel-default
                      .panel-heading
                        %h4.panel-title
                          %a.doctrine_button.tab_over{href: "doctrines_disciplines_intro", "class" => "label"}
                            Overview
                          %a.tab_over{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseInnerOne", "class" => "label label-default", "id" => "light"}
                            Abstract
                            %span.glyphicon.glyphicon-chevron-down
                      #collapseInnerOne.panel-collapse.collapse
                        .panel-body.tab_over
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-default
                      .panel-heading
                        %h4.panel-title
                          %a.doctrine_button.tab_over{href: "doctrines_assent", "class" => "label"}
                            Discipline of Assent
                          %a.tab_over{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseInnerTwo", "class" => "label label-default", "id" => "light"}
                            Abstract
                            %span.glyphicon.glyphicon-chevron-down
                      #collapseInnerTwo.panel-collapse.collapse
                        .panel-body.tab_over
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-default
                      .panel-heading
                        %h4.panel-title
                          %a.doctrine_button.tab_over{href: "doctrines_desire", "class" => "label"}
                            Discipline of Desire
                          %a.tab_over{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseInnerThree", "class" => "label label-default", "id" => "light"}
                            Abstract
                            %span.glyphicon.glyphicon-chevron-down
                      #collapseInnerThree.panel-collapse.collapse
                        .panel-body.tab_over
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-default
                      .panel-heading
                        %h4.panel-title
                          %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                            Discipline of Action
                          %a.tab_over{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseInnerFour", "class" => "label label-default", "id" => "light"}
                            Abstract
                            %span.glyphicon.glyphicon-chevron-down
                      #collapseInnerFour.panel-collapse.collapse
                        .panel-body.tab_over
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseThree", "class" => "label"}
                  The Dogmas
            #collapseThree.panel-collapse.collapse
              .panel-body
                Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              .accordion-inner
                #accordion3.accordion
                  #accordion.panel-group
                    .panel.panel-default
                      .panel-heading
                        %h4.panel-title
                          %a.doctrine_button.tab_over{href: "doctrines_disciplines_intro", "class" => "label"}
                            Overview
                          %a.tab_over{"data-parent" => "#accordion3", "data-toggle" => "collapse", href: "#collapseInnerOne2", "class" => "label label-default", "id" => "light"}
                            Abstract
                            %span.glyphicon.glyphicon-chevron-down
                      #collapseInnerOne2.panel-collapse.collapse
                        .panel-body.tab_over
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.


