

%center

.container
  .row
    .col-md-8
      #accordion.panel-group
        .panel.panel-danger
          .panel-heading
            %h4.panel-title
              A Short Explanation of Stoic Philosophy
          .panel-body
            %p What is Stoic Philosophy?

            %p
              %b Quick Background: Philosophy As A Way of Life
            %p Shortly after the Athenian democracy’s vote to kill Socrates, a variety of schools sprung up offering alternative answers to his original question of philosophy: “How should we live, and why?” These schools actively debated each other downtown at the agora and practiced their peculiar claims to the good life. The Epicureans lived in a garden in the suburbs. Diogenes, founder of the Cynics, masturbated in public and lived in a barrel on the street. Plato and his Academics delivered lectures at their “gymnasium.” Aristotle and his Peripatetics researched the natural world. The Pythagoreans worshipped mathematics as a god. The Skeptics used radical questioning to live free of false formulations and impressions. The Eclectics mixed together answers from a variety of the schools.

            %p Today, academic philosophy has lost touch with real life. The important thread tying these ancient Greek schools of philosophy together is that they were practical. Each school vigorously attacked the question of how we should live our life; each school argued through reason why its approach was correct; members of each school lived the answer. Philosophy to the Greeks was a way of life. This is the reason that, for example, Diogenes the Cynic lived on the street in a barrel. He argued that the best life is one of radical freedom and material possessions make us into slaves. Academic philosophers today do not behave this way.

            %p 
              %b The Stoic's Big Idea: “Living in Agreement with Nature”
            %p Into the lively mix of these schools stepped the Stoics. The Stoics derived their name from the “Stoa” or roofed-porch walkway near the agora. It has since been rebuilt and you can walk beneath it in modern Athens. The Stoics wandered around the Stoa arguing with the rival schools and with each other.

            %p The Stoic School was founded by Zeno of Citium. He defined Stoic philosophy as “living in agreement.” What does it mean to “live in agreement?” It means living with integrity: more specifically, the integrity of one’s thoughts. Our English word “integer” for whole number evolved from the Latin <i> integer </i>for “whole” or “complete.” The Stoics argued that it feels bad when your thoughts are muddled or broken. It feels good to have your thoughts, your reasoning, integer — this integrity the Stoics called “living in agreement” with yourself. 

            %p Reason is the practice by which we arrive at this integrity of thought and agreement of life with ourself. We must “reason out” the answer to Socrates’ question.
            %p The Stoics argued that the human ability to reason is the most salient element of our nature, separating us from all other animals and forms of life. We give the name “apple” to a certain type of tree because it produces apples. Reason is, so to speak, human nature’s fruit. This is also the reason why we are named after the Sapiens, or “wise man” in Latin. We are Homo Sapiens: the “wise” members of the Homo genus. It was for this reason that Cleanthes, the 2nd leader of the Stoic School in Athens, added to the definition of Stoic philosophy the words, “with nature”, to make the current definition: “living in agreement with nature.” (ὁμολογουμένως ζῆν τῇ φύσει, or, homologoumenōs zēn tēi phusei, “literally living conformably in agreement in nature”).
            %p Perhaps inspired by the Greek theater, the Stoics saw the human mind as engaged in a conversation with itself. Plato had written his description of Socrates as a theatrical dialogue because he believed that dialectic (reasoned conversation) is the way to the truth. The Stoic philosophers recognized that this is also the way that we think and talk to ourselves. We engage in dialogue within ourselves.
            %p You: “Should I steal my sister’s chocolate?”
            %p You: “No — because theft destroys the human community.”
            %p When you reflect on it, isn’t this how your thinking works — a theatre of conversation within yourself— all the time? We will come back to this inner mental dialogue, and its relevance for Stoic philosophical practice, in the Stoic Exercises Section.
            %p Only by living according to reason, and thereby “in agreement with our nature,” can one discover, in the words of Robin Campbell, a scholar of the Stoics, that “true, unshakeable peace and contentment to which ambition, luxury and above all avarice are among the greatest obstacles.”
            %p
              %b To Have Or To Be?
            %p The question, "To have, or to be?" is one that pre-occupies the Stoic thinkers. The Stoics recognize that Fortune can deprive us of all that we have. The exception, the element that Fortune can never touch, is who we are: our character, our values, our choices, and the actions that result from them. As Socrates, the great hero of the Stoics, says in Plato’s Apology, “I care nothing for what most people care about: money-making, administration of property, generalships, success in public debates, magistracies, coalitions, and political factions… I did not choose that path, but rather the one by which I could do the greatest good to each of you in particular: by trying to persuade each of you to concern himself less about what he has than about what he is, so that he may make himself as good and reasonable as possible.” Socrates in this passage describes Stoic philosophy in a nutshell.
            %p 
              %b The World As A Single Community of Reasoning Beings
            %p During the Renaissance and the Enlightenment, periods marked by a widespread re-discovery of Stoic ideas, there was a a circle of thinkers called the “Republic of Letters.” The “Republic of Letters” comprised all thinking people regardless of whether they were French, German, English, Swedish, Russian, Polish, etc. These scientists, poets, philosophers and intellectuals wrote to each other across borders. This “Republic of Letters” corresponds to the Stoic ideal of humanity: a world brotherhood of reasoning beings.
            %p The Greeks saw everything as a city: the body was a kind of city of organs. The universe (cosmos) was a kind of mega-city (polis) - hence the cosmopolis and Socrates, the first man ever to call himself a cosmopolitan — literally, a citizen of the universe and nature’s city of reason.
            %p 
              %b Anti-Fragility to Obstacles 
            %p What is the wise or philosophical way to approach obstacles, failures, unfairness and setbacks?
            %p The Stoics, in particular the Roman-era Stoics, had an answer for that — and more importantly, an argument for that answer.
            %p They argued that obstacles, failures, unfairness and setbacks, instead of being negative, are actually opportunities for growth. Obstacles, failures, unfairness and setbacks are provocations that, when properly considered, elicit growth in our character and our soul.
            %p The Great Stoic thinker Epictetus, a Greek slave in the Roman empire, writes, “What would have become of Hercules, do you think, if there had been no lion, hydra, stag or boar — and no savage criminals to rid the world of? What would he have done in the absence of such challenges? Obviously he would have just rolled over in bed and gone back to sleep. So by snoring his life away in luxury and comfort he never would have developed into the mighty Hercules.”
            %p Epictetus argues that what makes Hercules Hercules is the fact that he is provoked by these challenges.
            %p The great Roman Stoic Seneca writes,
            %p “Do you not see how fathers show their love in one way, and mothers in another? The father orders his children to be aroused from sleep in order that they may start early upon their pursuits, and he draws from them sweat and sometimes tears... God has the mind of a father, he cherishes for them a manly love, and he says, “Let them be harassed by toil, by suffering, be losses, in order that they may gather true strength... lo, here is a spectacle worthy of the regard of God as he contemplates his works: a brave man matched against ill-fortune.”
            %p And Marcus Aurelius, the Roman emperor and Stoic philosopher writes in his journal,
            %p “Our actions may be impeded . . . but there can be no impeding our intentions or dispositions. Because we can accommodate and adapt. The mind adapts and converts to its own purposes the obstacle to our acting. The impediment to action advances action. What stands in the way becomes the way.”
            %p The Stoics understood the pain of obstacles, failures, unfairness and setbacks as a form of information. We can use this information to adapt ourselves. We can use it to grow. A modern Stoic philosophical thinker, Nassim Taleb, calls this Stoic capacity “Anti-Fragility.” It is not merely robust (hard to break), it is the true opposite of fragile: attempts to break it make it stronger. Stoic philosophy teaches us how to become Anti-Fragile to Fate.
            %p
              %b The Present Moment - The Power of Now
            %p The Stoics recognize that neither the past nor the future exists. When we reflect on the past or the future, we enter a kind of meditation and picture before us a stream of images. This experience occurs, however, always in the present. Only the present moment is real.
            %p Marcus Aurelius writes for example in his journal,
            %p “Do not disturb yourself by picturing your life as a whole; do not assemble in your mind the many and varied troubles which have come to you in the past and will come again in the future, but ask yourself with regard to every present difficulty: 'What is there in this that is unbearable and beyond endurance?' ... And then remind yourself that it is not the future or what has passed that afflicts you, but always the present, and the power of this is much diminished if you take it in isolation and call your mind to task if it thinks that it cannot stand up to it when taken on its own.”
            %p Eckhart Tolle, a present-day German thinker building on the Stoic tradition, writes in his book, Die Kraft der Gegenwart,
            %p “Je mehr du dich auf die Zeit konzentrierst, auf Vergangenheit und Zukunft, desto mehr verpasst du das Jetzt, das Kostbarste, was es gibt. Warum ist es so kostbar? Erstens, weil es das Einzige ist. Es gibt sonst nichts. Die ewige Gegenwart ist der Raum, in dem sich dein gesamtes Leben abspielt, die einzige Kraft, die beständig ist. Leben ist Jetzt. Es gab weder eine Zeit, wo dein Leben nicht Jetzt war, noch wird es jemals so sein... Es ist der einzige Zugang zum zeitlosen und formlosen Reich des Seins.”
