

%center

.container
  .row
    .col-md-8
      #accordion.panel-group
        .panel.panel-danger
          .panel-heading
            %h4.panel-title
              Introduction to Stoic Philosophy
          .panel-body
            Here's the deal about Stoic Philosophy.
