// Place all the styles related to the Doctrines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h5 {
  margin: 0 !important;
}

.doctrine_button {
  font-size: 1em;
}

#e_questions {
  width: 400px;
}

a.doctrine_button:hover {
background-color: #777
}

.doctrine_insert {
  font-size: 1em;
  margin-left:1em
}

.tab_over {
  margin-left:1em
}

.abstract-right {
  float: right;
}

.tab_over_header {
  margin-left:1em;
  font-size: 0.5em;
}

.doctrine_title {
  color: #a94442;
}

.exercise_title {
  color: #eb9316;
}

.exercise_2nd_row_title {
  color: #eb9316;
  margin-top: 5px;
}

#light {
  color: #fff;
}

.key {
  color: #B0B0B0;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
