// Place all the styles related to the Doctrines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-label { display: inline; padding: .2em .6em .3em; font-size: 100%; font-weight: bold; line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

#quotation-label {
  padding: .9em .9em .9em;
  font-size: 115%;
  color: #333;
  vertical-align: baseline;
  border-radius: .25em;
  background-image: -webkit-linear-gradient(top, #fff 0%, #428bca 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #428bca 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#428bca));
  background-image:         linear-gradient(to bottom, #c1e0f5 0%, #c1e0f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#c1e0f5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #c1e0f5;
  line-height: 1.3;
}

a#quotation-label:hover,
a#quotation-label:focus {
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
  background-color: #c1e0f5;
}

a#quotation-label:active,
a#quotation-label.active {
  color: #777;
  background-color: #fff;
  border-color: #fff;
  background-position: 0;
}

#quotation-text {
  line-height: 1.3;
}

#quotation-blue {
  color: #2d6ca2;
}

#doctrine-red {
  color: #a94442;
}

#exercise-yellow {
  color: #8a6d3b;
}

#big {
  font-size: 120%
}

#italicize {
  font-style: italic
}

.hide-on-medium-screen {
}

.hide-on-small-screen {
}

#mobile-nav-icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .hide-on-medium-screen {display: none;}
  ul li .hide-on-medium-screen {display: inline-block !important;}
  #mobile-nav-icon {display: inline-block;}
}

@media screen and (max-width: 800px) {
  .hide-on-small-screen {display: none;}
  #move-right {
    float: right !important;
    margin-right: 10px;
    padding-left: 2.5px;
  }
}

.navbar-header-right {
  float: right;
  box-sizing: content-box !important;
}

#sign-in {
  box-sizing: content-box !important;
  color: red;
}

#sign-in-nav {
  box-sizing: content-box !important;
  color: red;
}

.open-mobile-navbar {
  display: block;
  margin-left: 3px;
}

.sign-in-open {
  display: inline-block;
  margin-left: 3px;
  float: left !important;
}

.navbar-shifted-left {
  display: inline-block;
  float: left !important;
}

ul li a .move-right {
}

#move-right {
  float: right;
}

.remove-table {
  display: inline-block;
}

.nav li a {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
