// Place all the styles related to the Doctrines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#big {
  font-size: 120%
}

#italicize {
  font-style: italic
}

.hide-on-medium-screen {
}

.hide-on-small-screen {
}

#mobile-nav-icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .hide-on-medium-screen {display: none;}
  #mobile-nav-icon {display: inline-block;}
}

@media screen and (max-width: 800px) {
  .remove-table {
    display: inline-block !important;
  }
  .hide-on-small-screen {display: none;}
  #move-right {
    float: right !important;
    margin-right: 10px;
    padding-left: 2.5px;
  }
  .navbar-header-right {
    float: right !important;
  }

}

.navbar-header-right {
  float: right !important;
}


@media screen and (max-width: 800px) {
}

.open-mobile-navbar {
  display: inline-block;
}

#move-right {
    float: right !important;
}

.remove-table {
  display: inline-block;
}
