.diagonal-down {
  transform: rotate(1.4deg);
  display: inline-block;
}

.diagonal-up {
  transform: rotate(-1.4deg);
  display: inline-block;
}

body {
  height: 100%;
  background: linear-gradient(90deg, rgb(187, 60, 36) 30%, rgb(156, 142, 111) 30% 70%);
}

