$theme-colors: (
  "primary": rgb(22, 137, 192),
  "danger": rgb(183, 54, 27),
  "info": rgb(130, 92, 10),
  "warning": rgb(253, 167, 27),
  "secondary": rgb(161, 148, 118),
  "success": rgb(156, 143, 110),
  "dark": rgb(79, 54, 0)
);

$light-blue: rgb(168, 187, 254);
$dark-brown: rgb(79, 54, 0);

$text-color: rgb(246, 247, 248) !important;

