$theme-colors: (
  "primary": rgb(22, 137, 192),
  "danger": rgb(171, 40, 28),
  "info": rgb(149, 136, 103),
  "warning": rgb(253, 167, 27),
  "success": rgb(110, 74, 11),
  "secondary": rgb(62, 41, 1)
);

$text-color: rgb(246, 247, 248) !important;
$text-color: rgb(246, 247, 248) !important;

