.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a.doctrine_button{"data-parent" => "#accordion5", "data-toggle" => "collapse", href: "#collapseFive", "class" => "label"}
        Assembling the Compass
  #collapseFive.panel-collapse.collapse
    .panel-body
      This part does not contain any new theoretical element. Instead, we build upon the connections between those already discussed, and answer the question of how Dogmas, Disciplines and Subjects hang together and interact with each other in the meditative practice.
      %br This part is rich in creative exercises, whereby we learn to compose meditations weaving our thoughts into psychagogic lyrics. Marcus Aurelius, Epictetus and Seneca are taken as examples of excellence in meditative composition.
      %br Four chapters are devoted to the exercise of the "Tour of the Compass", a most powerful way to fix and bind what you have discovered in previous parts.
    .accordion-inner
      #accordion5.accordion
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_disciplines_intro", "class" => "label"}
                  Engaging the Gears
                %a.abstract-right{"data-parent" => "#accordion5", "data-toggle" => "collapse", href: "#collapseInnerOne5", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerOne5.panel-collapse.collapse
              .panel-body.tab_over
                Single elements of truth cannot take root if they are not connected with other truths, and in order to have any functional value, they have to engage like the gears of a clock. Here we discuss how the parts of the Compass engage together and the fundamental roles they play for each other.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_assent", "class" => "label"}
                  Starting With a Dogma
                %a.abstract-right{"data-parent" => "#accordion5", "data-toggle" => "collapse", href: "#collapseInnerTwo5", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerTwo5.panel-collapse.collapse
              .panel-body.tab_over
                Here we learn to improvise a meditation starting from a Dogma.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_desire", "class" => "label"}
                  Starting With a Discipline
                %a.abstract-right{"data-parent" => "#accordion5", "data-toggle" => "collapse", href: "#collapseInnerThree5", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerThree5.panel-collapse.collapse
              .panel-body.tab_over
                Here we learn to improvise a meditation starting from a Discipline.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Starting With a Subject
                %a.abstract-right{"data-parent" => "#accordion5", "data-toggle" => "collapse", href: "#collapseInnerFour5", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerFour5.panel-collapse.collapse
              .panel-body.tab_over
                Here we learn to improvise a meditation starting from a Subject.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Starting from a Situation
                %a.abstract-right{"data-parent" => "#accordion5", "data-toggle" => "collapse", href: "#collapseInnerFive5", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerFive5.panel-collapse.collapse
              .panel-body.tab_over
                Here we learn to improvise a meditation starting from a situation at hand.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  STOcastIC Games
                %a.abstract-right{"data-parent" => "#accordion5", "data-toggle" => "collapse", href: "#collapseInnerSix5", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerSix5.panel-collapse.collapse
              .panel-body.tab_over
                We went through the Tours and got acquainted with stoic Dogmas, Disciplines and Subjects of meditation. Now let's make things more challenging with random spreads of elements you will have to connect.
                %br My favourite? The stoic Tarots. Let pick a problem and spread the cards: which good advice can you read in this spread? Let's try it! (But only after you read the rest ;) )