.panel-group
  .panel.panel-default
    .panel-heading.stoic-introduction-title
      %h4.panel-title
        %a.stoic-introduction-title{href: "doctrines_assent", "class" => "label"}
          Discipline of Assent
    #collapseThree
      .panel-body.stoic-dark-text 
        The Discipline of Assent corresponds to the activity of judgement. The act of reasoning judgment -- Choosing to assent or not to assent to an impression about the world -- is our freedom. The Practice of the Discipline of Assent permits the Stoic to free himself from false beliefs and contradictory judgements. It restores and develops the power of the mind. It is the blade of the Stoic Penknife with which we operate on our relationship with the world around us.
        It addresses our relationship with human reason and its internal laws.
    .panel-heading
      %h4.panel-title
        %a.stoic-introduction-title{href: "doctrines_desire", "class" => "label"}
          Discipline of Desire
    #collapseInnerThree3
      .panel-body.stoic-dark-text 
        The Discipline of Desire corresponds to the activity of desire, i.e., it regards the things that are not in our power. The Practice of this Discipline allows us to develop autonomy from external objects, ensuring imperturbability to the mind and therefore bringing calm and serenity to the soul.
        It addresses our relationship with the entirety of Nature, with the eternal laws of the Cosmos.
    .panel-heading.stoic-introduction-title
      %h4.panel-title
        %a.stoic-introduction-title{href: "doctrines_action", "class" => "label"}
          Discipline of Action
    #collapsInnerFour4
      .panel-body.stoic-dark-text
        %p The Discipline of Action corresponds to the activity of Impulse (to action) and considers the interconnections, dependencies and feeling of belonging that the Stoic has with respect to others. This refers not only to her relationship with other humans and human institutions (family, politics, friendship, etc.), but also to biological systems such as her own body or the ecosystem.
        %p Using this Discipline, the Stoic can consciously regulate her agency in the world, because the Discipline helps her to find her kinships (animal, social, rational communities), which are required to develop her feelings of meaningfulness, belonging, caring and loving. Here we find the ethical core of stoic philosophy.
