.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a.doctrine_button{"data-parent" => "#accordion3", "data-toggle" => "collapse", href: "#collapseThree", "class" => "label"}
        The Disciplines
  #collapseThree.panel-collapse.collapse
    .panel-body
      In this section we discover the main structure of the Stoic Compass: the subdivision of the quadrant in three Disciplines. In the Overview we make a reconnaissance flight over the whole quadrant, showing the general map of the Disciplines and giving a very short description of them.
      %br The following chapters explore the single Disciplines in depth and explain how they are related to Theory and Exercises.
      %br Numerous Meditations from Marcus Aurelius will help the reader to understand how Marcus used the Disciplines to structure his philosophical Practice.
      %br Many Exercises are proposed for every Discipline and permit to put in practice what we have just learned.
    .accordion-inner
      #accordion3.accordion
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Overview
                %a.abstract-right{"data-parent" => "#accordion3", "data-toggle" => "collapse", href: "#collapseInnerOne3", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerOne3.panel-collapse.collapse
              .panel-body.tab_over
                The Overview is a reconnaissance flight over the whole quadrant, showing the general map of the Disciplines with short descriptions.
                %br The Disciplines correspond with "the three activities of the soul: judgement, desire, and impulse ; and to the three domains of reality: our individual faculty of judgement, universal Nature, and human nature." (Hadot: 44)
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Discipline of Assent
                %a.abstract-right{"data-parent" => "#accordion3", "data-toggle" => "collapse", href: "#collapseInnerTwo3", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerTwo3.panel-collapse.collapse
              .panel-body.tab_over
                The Discipline of Assent corresponds to the activity of judgement, i.e., it regards the things that are in our power. The Practice of this Discipline permits the Stoic to free herself from false beliefs and contradictory judgements, it restores and develops the power of the mind, protects the boundaries of the inner Citadel and offers protection and recovery in troubled times.
                It addresses our relationship with human reason and its internal laws.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Discipline of Desire
                %a.abstract-right{"data-parent" => "#accordion3", "data-toggle" => "collapse", href: "#collapseInnerThree3", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerThree3.panel-collapse.collapse
              .panel-body.tab_over
                The Discipline of Desire corresponds to the activity of desire, i.e., it regards the things that are not in our power. The Practice of this Discipline allows us to develop autonomy from external objects, ensuring imperturbability to the mind and therefore bringing calm and serenity to the soul.
                It addresses our relationship with the entirety of Nature, with the eternal laws of the Cosmos.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Discipline of Action
                %a.abstract-right{"data-parent" => "#accordion3", "data-toggle" => "collapse", href: "#collapseInnerFour3", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerFour3.panel-collapse.collapse
              .panel-body.tab_over
                The Discipline of Action corresponds to the activity of Impulse (to action) and considers the interconnections, dependencies and feeling of belonging that the Stoic has with respect to others. This refers not only to her relationship with other humans and human institutions (family, politics, friendship, etc.), but also to biological systems such as her own body or the ecosystem.
                %br Using this Discipline, the Stoic can consciously regulate her agency in the world, because the Discipline helps her to find her kinships (animal, social, rational communities), which are required to develop her feelings of meaningfulness, belonging, caring and loving. Here we find the ethical core of stoic philosophy.