.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a.doctrine_button{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseTwo", "class" => "label"}
        The General Principles (Dogmas)
  #collapseTwo.panel-collapse.collapse
    .panel-body
      In this section, the "grounding stones" of (Socratic and) stoic thought will be presented.
      %br We'll address metaphysical, epistemological and ethical questions in an easy and interactive way. Every chapter contains exercises and thought experiments to put into practice what we just read. Passages from the Meditations of Marcus Aurelius are used to illustrate the theoretical standpoints and to inspire our further meditations.
      %br Passages from the work of other Philosophers, such as Plato, Aristotle and Epicurus, have been integrated in this part because of affiliations or dissonances with stoic positions. The contributions of other philosophers are meant to help in the personal analysis of and reflection upon general philosophical principles.
    .accordion-inner
      #accordion2.accordion
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_disciplines_intro", "class" => "label"}
                  The Self
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerOne2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerOne2.panel-collapse.collapse
              .panel-body.tab_over
                What am I? What is me?
                %br The first topic to address is the definition of the self itself; of the thing we think about when we think about ourselves. We'll read the dialogue between Socrates and the young Alcibiades and introduce the stoic exercise of the "circumscription of the self".
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_assent", "class" => "label"}
                  Representation, Judgement and Assent
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerTwo2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerTwo2.panel-collapse.collapse
              .panel-body.tab_over
                In this chapter we discuss the concepts of Representation, Judgement and Assent, and enquire into the their "adequacy".
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_desire", "class" => "label"}
                  My Power
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerThree2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerThree2.panel-collapse.collapse
              .panel-body.tab_over
                "Some things are in our control and others not." With this sentence begins the Manual of Epictetus and in this phrase is encapsulated the most fundamental principle of his philosophy. This difference is fundamental for the Compass, because it traces the boundaries between the Disciplines of Assent and Desire.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Good and Bad
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerFour2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerFour2.panel-collapse.collapse
              .panel-body.tab_over
                How to distinguish good from bad. What is "good" and what is "bad"? What is evil?
                %br These are unavoidable question for every human being, because we are called to act and therefore to evaluate and choose from possibilities. Let's see what the stoics have to tell us on this topic.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Freedom and Determinism
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerFive2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerFive2.panel-collapse.collapse
              .panel-body.tab_over
                If every effect has a cause, than we live in a deterministic universe. What happens to free will then? Is it an illusion? Does it still make sense to philosophise or to pursue ethical goals if we are necessarily determined?
                %br In this chapter we will also meet a later philosopher very close to old stoic thought: Spinoza.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Wisdom and Virtue
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerSix2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerSix2.panel-collapse.collapse
              .panel-body.tab_over
                Wisdom and Virtue are often used in discourses around philosophical practice and ethical reflection, but how can we picture them or define them clearly?
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Cities
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerSeven2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerSeven2.panel-collapse.collapse
              .panel-body.tab_over
                One important metaphor in stoic thought is the "polis" (the city), i.e., a group of individuals governed by the same rules. The universe is therefore a city, and the community of rational beings is a city. A political community is also a city.
                %br To discover the cities that we belong to brings clarity and harmony in our ethical thoughts and feelings.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Providence of Atoms?
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerEight2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerEight2.panel-collapse.collapse
              .panel-body.tab_over
                Does the cosmos have a purpose? Some Stoics say yes, other Stoics say: it doesn't matter to us! Camus says no and Wittgenstein says: you cannot know!
                %br Which positions are reasonable and what are the consequences for philosophical practice?
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Reason
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerNine2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerNine2.panel-collapse.collapse
              .panel-body.tab_over
                the prenotions?
                %br prima di good and bad perché serve per rifletterci? o dopo e ci chiediamo: con cosa abbiamo riflettuto?
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  Evil
                %a.abstract-right{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseInnerTen2", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerTen2.panel-collapse.collapse
              .panel-body.tab_over
                How does it happen that there's evil in the world? Evil is just "missing the target". (Spinoza objection? :D yeah: no evil, everything necessary