.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a.doctrine_button{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseOne", "class" => "label"}
        Introductory Topics
  #collapseOne.panel-collapse.collapse
    .panel-body
      Welcome beneath the Stoa! In this section we introduce the concept of "philosophical practice" and discuss the place of practice and exercises in ancient philosophy in general, and in stoic philosophy in particular.
    .accordion-inner
      #accordion.accordion
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_disciplines_intro", "class" => "label"}
                  The Care of the Self
                %a.abstract-right{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseInnerOne", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerOne.panel-collapse.collapse
              .panel-body.tab_over
                Philosophical Practice has been also defined as "Care of the Self". What does it mean? In this chapter we discuss this understanding of philosophy and enquire into the relevance this practice can have for us, as modern human beings.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_assent", "class" => "label"}
                  Which kind of practice?
                %a.abstract-right{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseInnerTwo", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerTwo.panel-collapse.collapse
              .panel-body.tab_over
                Assuming that philosophy should be something more than complicated discourses and academical speculations, what exactly is meant by "Practice"? In this chapter we discuss philosophy as a style of life and as a training, focussing on its goals and forms of practice.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_desire", "class" => "label"}
                  Stoic School of Philosophy
                %a.abstract-right{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseInnerThree", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerThree.panel-collapse.collapse
              .panel-body.tab_over
                What are the typical features of stoic schools of philosophy? How did (or do) Stoics practise philosophy? Given that this question has no singular answer, here we discuss some passages from Epictetus and explicitly express our opinion on what stoicism is about.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_action", "class" => "label"}
                  The Compass
                %a.abstract-right{"data-parent" => "#accordion1", "data-toggle" => "collapse", href: "#collapseInnerFour", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerFour.panel-collapse.collapse
              .panel-body.tab_over
                This whole App is dedicated to the Compass of Marcus Aurelius. What does it mean? What is a Compass and how does it connect Theory and Practice? What is the role of theory in the shaping of a philosophical Compass? All these questions are addressed in this chapter.