.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a.doctrine_button{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseFour", "class" => "label"}
        Subjects of Meditation
  #collapseFour.panel-collapse.collapse
    .panel-body
      This part is a collection of the classical subjects of meditation in most eudaimonic philosophies. Each subject is at first approached from a stoic perspective, including passages from Marcus Aurelius and Epictetus. References to other philosophers are also present with the purpose of enriching reflection and open dialogues with other systems of thought.
      %br Every chapter contains exercises and suggestions for consideration of this precise subject.

      %br [Should I maybe only address subjects actually contained in the meditations of Marcus?]
    .accordion-inner
      #accordion4.accordion
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Death
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerOne4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerOne4.panel-collapse.collapse
              .panel-body.tab_over
                Death is nothing to me.
                Meditation on Death and of Death.
                Who learns to die, learns to live.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Time and Space
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerTwo4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerTwo4.panel-collapse.collapse
              .panel-body.tab_over
                past and future in my mind
                fugacity
                you tiny little thing
                combo: you die at the same speed all the time
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Body
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerThree4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerThree4.panel-collapse.collapse
              .panel-body.tab_over
                (blank)
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Love and Care
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerFour4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerFour4.panel-collapse.collapse
              .panel-body.tab_over
                philia, eros, agape
                Medea?
                love for myself, love for others
                (blank)
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Hate and Rage
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerFive4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerFive4.panel-collapse.collapse
              .panel-body.tab_over
                Seneca again (de ira)
                (blank)
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Sex
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerSix4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerSix4.panel-collapse.collapse
              .panel-body.tab_over
                I've no clue about Stoic "positions" in this topic...
                (blank)
                (Henry) - Check out
                %a{ :href => "http://puffin.creighton.edu/phil/Stephens/OSAP%20Epictetus%20on%20Stoic%20Love.htm" } http://puffin.creighton.edu/EpictetusOnStoicLove.htm
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Family
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerSeven4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerSeven4.panel-collapse.collapse
              .panel-body.tab_over
                ??? Families...
                (Henry) Epictetus writes about the family:
                %p "Eat like a man, drink like a man, get dressed, get married, have children, lead the life of a citizen... Show us all this, so that we can see whether or not you have really learned something from the philosophers."
                %p Epictetus III, 21, 5
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Friends
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerEight4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerEight4.panel-collapse.collapse
              .panel-body.tab_over
                philia
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Politics
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerNine4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerNine4.panel-collapse.collapse
              .panel-body.tab_over
                the political city...
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Opinions of Others
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerTen4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerTen4.panel-collapse.collapse
              .panel-body.tab_over
                (blank)
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  Pleasure
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerEleven4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerEleven4.panel-collapse.collapse
              .panel-body.tab_over
                (blank)
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.doctrine_button.tab_over{href: "doctrines_dogmas_intro", "class" => "label"}
                  The Wise
                %a.abstract-right{"data-parent" => "#accordion4", "data-toggle" => "collapse", href: "#collapseInnerTwelve4", "class" => "label label-default", "id" => "light"}
                  Abstract
                  %span.glyphicon.glyphicon-chevron-down
            #collapseInnerTwelve4.panel-collapse.collapse
              .panel-body.tab_over
                (blank)