.form-row.nested-fields
  .col
    = f.text_field :inquiry, hide_label: true, class: "form-control position-static", placeholder: "My Think-Exercise Question"
    = f.hidden_field :id
  .col-2
    = link_to_remove_association "Remove", f, class: "form-control btn btn-sm btn-danger"
