.container.stoic-dark-text 
  .row
    .col-md-8
      .panel.stoic-brown
        .panel-heading
          %h1.page-header.exercise_title Edit the exercise
        .panel-body
          = render 'form'
        .panel-body
          = link_to 'Back to List of Exercises', exercises_path, class: "btn btn-lg btn-stoic-action"
          %br

