.container
  .row
    .col-md-8
      %h1.page-header.exercise_title Edit the exercise
      .panel.panel-warning
        = render 'form'
        %center
          = link_to 'Back', exercises_path, class: "btn btn-default"
        %br
