.container
  .row
    .col-md-8
      .panel.panel-warning
        .panel-heading
          %h1.page-header.exercise_title Create A New Exercise
        .panel-body
          = render 'form'
        .panel-body
          = link_to 'Back to List of Exercises', exercises_path, class: "btn btn-default btn-lg"
          %br
