%nav.navbar.navbar-expand-sm.navbar-light.bg-transparent
  %a.navbar-brand{href: root_url}
    = image_tag("stoic_penknife_logo_ink.png", size: "40x40", class: "img-response")
    Stoic Penknife
  %button.navbar-toggler{"aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarSupportedContent", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{href: about_path}
          What Is This?
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{href: how_it_works_path} How Does It Work?
      %li.nav-item
        %a.nav-link{href: contact_path} Who Made It?
      %li.nav-item
        %a.nav-link{href: doctrines_path} Stoic Doctrine
      %li.nav-item
        %a.nav-link{href: exercises_path} Stoic Life-Exercises

    %ul.nav.navbar-nav.mr-auto.navbar-right
      - if user_signed_in?
        %li.nav-item
          %a.nav-link{href: edit_user_registration_path} #{current_user.email}
        %li.nav-item
          %a.nav-link{href: destroy_user_session_path} Sign Out
      - else
        %li.nav-item
          %a.nav-link{href: new_user_registration_path} Sign Up
        %li.nav-item
          %a.nav-link{href: new_user_session_path} Sign In


=#Script needed - (must be here so the page reloads it) to change nav color with changing page
:javascript
  $(document).ready(function() {
    $('li.active').removeClass('active');
    $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
  });
